{% extends 'base.html' %}

{% block  content_active_menu %}active{% endblock %}

{% block content %}
<h2 class="go_center">更改菜單</h2>
<hr>
<br>

<form method="POST" class="go_center" style="border-width:1px;border-style:solid;padding:20px;margin:auto 10%"> {% csrf_token %}
  <p>餐點:{{ obj.name }}</p>
  {{ form.as_p }}
  <input type="submit" value="更改">
</form>
<br>
<div class="go_center"><a href="/food/detail"><button class="btn btn-outline-dark" type="submit">回到菜單</button></a></div>
{% endblock %}
