{% extends 'base.html' %}

{% block  content_active_menu %}active{% endblock %}

{% block content %}
<h2 class="go_center">今日菜單</h2>
<hr>
<br>
<style>
  .table {
    padding: 20px;
  }
</style>
<div class='table'>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">餐點</th>
        <th scope="col">價錢</th>
        <th scope="col">熱門程度</th>
        <th scope="col">點餐</th>
        <th scope="col">編輯</th>
        <th scope="col">刪除</th>
      </tr>
    </thead>
    <tbody>
      {% for food_obj in objlist %}
      <tr>
        <th scope="row">{{ food_obj.food_id }}</th>
        <td>{{ food_obj.name }}</td>
        <td>{{ food_obj.price }}</td>
        <td>{{ food_obj.popular }}</td>
        {% if can_order %}
        <td><a href="/food/order/{{ food_obj.food_id }}"><button class="btn btn-outline-dark" type="submit">點餐</button></a></td>
        {% else %}
        <td><button class="btn btn-outline-dark" type="submit" disabled>點餐</button></td>
        {% endif %}
        <td><a href="/food/change/{{ food_obj.food_id }}"><button class="btn btn-outline-dark" type="submit">更改</button></a></td>
        {% if permition %}
        <td><a href="/food/delete/{{ food_obj.food_id }}"><button class="btn btn-outline-dark" type="submit">刪除</button></a></td>
        {% else %}
        <td><button class="btn btn-outline-dark" type="button" disabled>刪除</button></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="go_center"><a href="/food/create"><button class="btn btn-outline-dark" type="submit">新增餐點</button></a></div>
{% endblock %}
