{% extends 'base.html' %}

{% block content_active_profile %}active{% endblock %}


{% block content %}
<h2 class="go_center">個人資料</h2>
<hr>
<br>
<h4 class="go_center">使用者 : {{ request.user }}</h4>
<h4 class="go_center">座號 : {{ request.user.useradditionalinformation.sit_number }}</h4>
<h4 class="go_center">要繳的錢 : {{ request.user.useradditionalinformation.money_to_pay }}</h4>
<h4 class="go_center">被欠的錢 : {{ request.user.useradditionalinformation.money_pay_back }}</h4>
<br>
<div class="go_center"><a href="/accounts/change_password"><button class="btn btn-outline-dark" type="submit">更改密碼</button></a></div>
{% endblock %}