{% extends 'base.html' %}

{% block content_active_login %}active{% endblock %}


{% block content %}
{% if request.user.is_authenticated %}
<h2 class="go_center">登入</h2>
<hr>
<br>
<h3 class="go_center">你已經登入囉 {{ request.user }} >_<</h3>
{% else %}
<h2 class="go_center">登入</h2>
<hr>
<br>
<form action="" method="POST" class="go_center"> {% csrf_token %}
    {% if error %}
    <p>登入失敗</p>
    {% endif %}
    {{ form.as_p }}

    <input type="submit" value="login">
</form>
<br>
<p class="go_center">忘記密碼？請跟我講</p>
{% endif %}
{% endblock %}