{% extends 'base.html' %}

{% block content_active_home %}active{% endblock %}


{% block content %}
{% if request.user.is_authenticated %}
<h2 class="go_center">歡迎 {{ request.user }} ， 這裡是107午餐網站</h2>
{% else %}
<h2 class="go_center">歡迎 ， 這裡是107午餐網站</h2>
{% endif %}
<hr>
<br>

<h4 class="go_center">公告</h4>
<ul class="go_center">
  <li>3/28 新增餐點可改名和可調整價錢</li>
  <li>3/28 新增使用者自助繳錢</li>
  <li>3/27 beta版正式開始測試</li>
  <li>3/23 alpha版正式開始測試</li>
  <li>3/19 罷工</li>
  <li>3/17 開始開發</li>
</ul>
<br>
<h4 class="go_center">公約</h4>
<ol class="go_center">
  <li>如果有bug或漏洞要跟我講</li>
  <li>不要隨意攻擊這個網站</li>
</ol>

{% endblock %}
