<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>107 Lunch Web (alpha)</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Hurricane&family=Noto+Serif+TC:wght@600;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Courgette&family=Hurricane&family=Noto+Serif+TC:wght@600;700&display=swap" rel="stylesheet"> 
    <style>
      .content {
        font-family: 'Noto Serif TC', serif;
      }
      footer {
        font-family: 'Caveat', cursive;
      }
      nav {
        font-family: 'Courgette', cursive;
      }
      .go_center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">107 Lunch Web (alpha)</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% block  content_active_home %}{% endblock %}" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block  content_active_login %}{% endblock %}" href="/accounts/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block  content_active_profile %}{% endblock %}" href="/accounts/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block  content_active_menu %}{% endblock %}" href="/food/detail">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block  content_active_cart %}{% endblock %}" href="/accounts/cart">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block  content_active_manager %}{% endblock %}" href="/manager">Manager</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"></a>
            </li>
          </ul>
          {% if request.user.is_authenticated %}
          <span class="navbar-text"><strong>{{ request.user }}&nbsp;&nbsp;&nbsp;</strong></span>
          <a href="/accounts/logout"><button class="btn btn-outline-success" type="submit">Logout</button></a>
          {% else %}
          <a href="/accounts/login"><button class="btn btn-outline-success" type="submit">Login</button></a>
          {% endif %}
        </div>
      </div>
    </nav>

    <br>
    <div class="content">
    {% block content %}{% endblock %}
    </div>

    <br>
    <footer>
      <br>
      <h5 class="go_center"><strong>&copy;Copyright 2050 by nobody. All rights reserved.</strong></h5>
    </footer>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>