{% extends 'base.html' %}

{% block  content_active_manager %}active{% endblock %}

{% block content %}
<h2 class="go_center">更改權限</h2>
<hr>
<br>

<div class="go_center"><a href="/manager/let_user_order"><button class="btn btn-outline-dark" type="submit">讓使用者點餐</button></a></div>
<br>
<div class="go_center"><a href="/manager/let_user_not_order"><button class="btn btn-outline-dark" type="submit">取消使用者點餐</button></a></div>
<br>
<div class="go_center"><a href="/manager/clear_all_user_money"><button class="btn btn-outline-dark" type="submit">清除所有人的錢</button></a></div>
<br>
<div class="go_center"><a href="/manager/user_no_be_manager"><button class="btn btn-outline-dark" type="submit">我不當點餐者了</button></a></div>
<br>
<div class="go_center"><a href="/manager/change_new_menu"><button class="btn btn-outline-dark" type="submit">換新菜單</button></a></div>
<br>

<hr>
<br>
<div class="go_center"><a href="/manager"><button class="btn btn-outline-dark" type="submit">回管理者主頁</button></a></div>

{% endblock %}
