{% extends 'base.html' %}

{% block  content_active_manager %}active{% endblock %}

{% block content %}
<h2 class="go_center">付錢狀況</h2>
<hr>
<br>
<style>
  .table {
    padding: 20px;
  }
</style>
<h4>未繳錢</h4>
<div class='table'>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">座號</th>
        <th scope="col">姓名</th>
        <th scope="col">代繳錢</th>
        <th scope="col">繳錢</th>
      </tr>
    </thead>
    <tbody>
      {% for nonpay_user in nonpay_user_list %}
      <tr>
        <td>{{ nonpay_user.useradditionalinformation.sit_number }}</td>
        <td>{{ nonpay_user.username }}</td>
        <td>{{ nonpay_user.useradditionalinformation.money_to_pay }}</td>
        <td><a href="/manager/pay_money/{{ nonpay_user.id }}"><button class="btn btn-outline-dark" type="submit">繳錢</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<br>

<h4>要還錢</h4>
<div class='table'>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">座號</th>
        <th scope="col">姓名</th>
        <th scope="col">要還錢</th>
        <th scope="col">還錢</th>
      </tr>
    </thead>
    <tbody>
      {% for money_to_give_user in money_to_give_user_list %}
      <tr>
        <td>{{ money_to_give_user.useradditionalinformation.sit_number }}</td>
        <td>{{ money_to_give_user.username }}</td>
        <td>{{ money_to_give_user.useradditionalinformation.money_pay_back }}</td>
        <td><a href="/manager/pay_back_money/{{ money_to_give_user.id }}"><button class="btn btn-outline-dark" type="submit">還錢</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
<div class="go_center"><a href="/manager"><button class="btn btn-outline-dark" type="submit">回管理者主頁</button></a></div>
{% endblock %}
