{% extends 'base.html' %}

{% block  content_active_manager %}active{% endblock %}

{% block content %}
<h2 class="go_center">還錢</h2>
<hr>
<br>
<form action="" method="POST" class="go_center"> {% csrf_token %}
  <h5>座號:{{ user.useradditionalinformation.sit_number }}</h5>
  <h5>姓名:{{ user.username }}</h5>
  <h5>要還的錢:{{ user.useradditionalinformation.money_pay_back }}</h5>
  <br>
  <input type="submit" value="還完錢了">
</form>
<br>

<div class="go_center"><a href="/manager/money_paying"><button class="btn btn-outline-dark" type="submit">回到付錢情況</button></a></div>
{% endblock %}
