{% extends 'base.html' %}

{% block  content_active_cart %}active{% endblock %}

{% block content %}
<h2 class="go_center">我的餐車</h2>
<hr>
<br>
<style>
  .table {
    padding: 20px;
  }
</style>
<div class='table'>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">餐點</th>
        <th scope="col">價錢</th>
        <th scope="col">份量</th>
        <th scope="col">小計</th>
        <th scope="col">編輯</th>
      </tr>
    </thead>
    <tbody>
      {% for user_order in user_order_list %}
      {% if user_order.number_of_ordering == 0 %}
      {% else %}
      <tr>
        <td>{{ user_order.food_name }}</td>
        <td>{{ user_order.food_price }}</td>
        <td>{{ user_order.number_of_ordering }}</td>
        <td>{% widthratio user_order.food_price 1 user_order.number_of_ordering %}</td>
        <td><a href="/food/order/{{ user_order.food_id }}"><button class="btn btn-outline-dark" type="submit">更改</button></a></td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
<h3 class="go_center">總價:{{ total_price }}</h3>
{% endblock %}
